#messages {
    height: 100%;
    background-color: gainsboro;
    overflow-y: scroll;
    list-style: none;
}

form {
    display: flex;
    background-color: black;
    padding: .5em;
}

form input {
    width: 100%;
    padding: .5em;
}

form button {
    padding: .5em 1em;
}

#messages li {
    width: fit-content;
    padding: .5em 1em;
    margin: 1em;
}

#messages li p {
    margin-bottom: 0;
}

.outgoing {
    background-color: rgb(199, 241, 199);
    margin-left: 0;
    border-radius: 1em 1em 1em 0;
}

.incoming {
    background-color: white;
    margin-left: auto;
}

#chatBox {
    display: flex;
    width: 100%;
    height: 75vh;
    margin-top: 1em;
}

#chatWithInput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#users {
    height: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    width: 15rem;
}

#joinRoom {
    margin-left: 0;
}