<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Welcome to ChatBox</h2>
        <p>the place where you can chat with a random person. The new way to meet new people.</p>
        <% if (message) { %>
        <span class="error"><%= message %></span>
        <% } %>
        <form action="/storeUser" method="post">
            <label for="userName">Username</label>
            <input type="text" name="username" id="userName" autocomplete="off" placeholder="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password" autocomplete="current-password" required>
            <button class="CTA">login</button>
        </form>
        <a href="/register">register</a>
    </main>
</body>
</html>