<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Register</h2>
        <form action="/registerUser" method="post">
            <label for="userName">Username</label>
            <input type="text" name="username" id="userName" autocomplete="off" placeholder="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password" required>
            <button type="submit" class="CTA">create user</button>
        </form>
    </main>
</body>
</html>